<footer>
  <input type="button" name="" value="Inserir Animal" id="bt" />
  <table id="tabela">
    <link rel="stylesheet" href="style.css" />
    <thead>
      <tr>
        <th>Nome</th>
        <th>Tipo</th>
        <th>Raça</th>
        <th>Nascimento</th>
      </tr>
    </thead>
    <tbody id="tabela-body"></tbody>
  </table>
  <a href="/">Voltar</a>
</footer>

<script src="/mostrar.js"></script>
