<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <title>PetMax - Clínica Veterinária</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>PetMax - Clínica Veterinária</h1>
      <form action="/" method="post">
        <label for="">Nome</label>
        <input type="text" name="nome" placeholder="Nome do Pet" />
        <label for="">Tipo</label>
        <input type="text" name="tipo" placeholder="Tipo do Pet" />
        <label for="">Raça</label>
        <input type="text" name="raca" placeholder="Raça do Pet" />
        <label for="">Nascimento</label>
        <input type="date" name="nascimento" placeholder="Nascimento do Pet" />
        <input type="submit" name="" value="OK" id="sub" />
        <input type="button" value="Cancelar" id="cancel" />
      </form>
      <hr />
    </header>
    <script src="/cad.js"></script>
  </body>
</html>
